html{
	font-size: 10px;
	box-sizing: border-box;
}

*, *:after, *:before {
	box-sizing: inherit;
}

body {
	margin:0 auto;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.4rem;
	color: $gray;
	background: #fff;
	text-align: center;
}

.wr{
	min-width:32rem;
	margin: 0 auto;
	padding:1rem;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}