@mixin tableHeader() {
  background: $dark;
  color: $white;
}
table{
  margin: 0 auto;
  border-collapse: collapse;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow: hidden;
  padding-right: 17px;
  box-sizing: content-box;
  min-width: 32rem;
  tr{
    &:first-child {
      @include tableHeader;
      &:hover {
        @include tableHeader;
      }
    }
    &:hover{
      background: $blue;
      color: $white;
    }
  }
  td{
    padding: .3rem;
    width: 15.5rem;
    box-sizing: border-box;
    white-space: nowrap;
    &:first-child {
      width: 100%;
    }
  }
}

