<footer>
	<div class="wr">
		<div class="about">
			<h2 class='about__title'>about</h2>
			<p class='about__text'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad m inim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea commodo consequat.</p>
		</div>

		<div class="contactUs">
			<h2 class='contactUs__title'>contact us</h2>
			<p class='contactUs__item'>5419 Joseph Mountains Apt. 716</p>
			<p class='contactUs__item'>+1 234 567 89 <br>+1 234 678 90	</p>
			<p class='contactUs__item'>joga.info@example.com</p>
			<p class='contactUs__item'>www.example.com</p>
		</div>
	</div>

	<p class="copyright">Copyright  ©  2016-2017 Yoga classes</p>
</footer>